.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 5vw;
}

.header-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-h1 {
	transition: all 1s;
	font-size: 3em;
}

.header-h1:hover {
	transform: scale(1.05);
}

.button-block {
	width: 17vw;
}

.button-lng {
	border: none;
	transition: all 0.5s;
	font-size: 1.5em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.button-lng::before {
	content: attr(text);
}

.button-lng:hover {
	transform: scale(0.95);
	color: rgb(29, 29, 29);
}

.button-lng:hover::before {
	content: attr(hover-text);
}

.button-enter {
	border: none;
	transition: all 0.5s;
	font-size: 1.5em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.button-enter:hover {
	transform: scale(0.95);
	color: rgb(29, 29, 29);
}

.post-button {
	text-decoration: none;
	display: flex;
	border: none;
	width: 15vw;
	max-width: 250px;
	height: 3vh;
	line-height: 45px;
	margin: 1px 20px 15px 20px;
	font-size: 1vw;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	color: #524f4e;
	background: white;
	transition: 0.7s;
	align-items: center;
	justify-content: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.post-button:hover {
	background: rgba(71, 71, 71, 0.904);
	color: white;
	transform: translateY(-2px);
	border-radius: 45px;
}

.modal-wrapper {
	width: 100%;
	position: relative;
	margin: 15px 0;
	text-align: center;
}

.modal-file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.modal-file-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

.modal-file-fake {
	height: 4.5vh;
	width: calc(100% - 50px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 15px;
	border: 1px solid #c7c7c7;
	border-radius: 3px 0 0 3px;
	border-right: none;
}

.modal-file-button {
	width: 14vw;
	height: 4.5vh;
	background: rgb(127, 209, 34);
	color: #000000;
	font-size: 1.125rem;
	font-weight: 400;
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.modal-block {
	display: flex;
	width: 100%;
}

.modal-button {
	width: 14vw;
	height: 4.5vh;
	border: none;
	background: rgb(127, 209, 34);
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #000000;
	font-size: 0.97rem;
	font-weight: 600;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 0 1px 1px 0;
	cursor: pointer;
}

.modal-description {
	width: 100%;
	font-size: 1.2rem;
	padding-left: 15px;
}

.modal-description::placeholder {
	font-size: 1rem;
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(1.15);
		transform: scale(1.09);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		color: rgb(127, 209, 34);
	}
	17% {
		-webkit-transform: scale(1.05);
		transform: scale(1.02);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		color: black;
	}
	33% {
		-webkit-transform: scale(1.18);
		transform: scale(1.13);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		color: rgb(127, 209, 34);
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		color: black;
	}
}
