.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
}

.button-block {
    width: 17vw;
}

.button-lng {
    border: none;
    transition: all 0.5s;
}

.button-lng::before {
    content: attr(text);
}

.button-lng:hover {
    transform: scale(0.95);
    color: rgb(29, 29, 29);
}

.button-lng:hover::before {
    content: attr(hover-text);
}


.button-enter {
    border: none;
    transition: all 0.5s;
}

.button-enter:hover {
    transform: scale(0.95);
    color: rgb(29, 29, 29);
}
